<% include partials/_head%>

<%if(!foundUser.admin){%>
	<% include partials/_navbarUser%>
<%} else{%>
	<% include partials/_navbarAdmin%>
<%}%>

<main>
	<div class="text-center">
			<h2>Item list</h2>
	</div>

	<div class="album py-5">
    <div class="container">
      <div class="row">

					<%for(let i = 0; i < allItems.length; i++) {%>

						<div class="itemContainer col-md-4">
				      <div class="card mb-4 shadow-sm">
				        <img src="<%=allItems[i].imageUrl%>" class="img-fluid ml-0 mt-3 mr-3 p-3" />
									<div class="itemInfo text-center">
										<h2><%=allItems[i].name%></h2>
										<h2>$ <%=allItems[i].price%></h2>
									</div>

								<div class="card-body">
				          <div class="text-center">

										<%if(!foundUser.admin){%>
												<a href="/users/items/<%=allItems[i]._id%>" class="btn btn-sm btn-outline-secondar">View</a>
										<%}else{%>
												<a href="/admins/<%=allItems[i]._id%>" class="btn btn-sm btn-outline-secondary">View</a>
										<%}%>

				          </div>
				        </div>
				      </div>
				    </div>
						<%}%>
			</div>
		</div>
	</div>

</main>


<% include partials/_foot%>
