<% include partials/_head%>

<%if(!foundUser.admin){%>
	<% include partials/_navbarUser%>
<%} else{%>
	<% include partials/_navbarAdmin%>
<%}%>

<main>
	<div class="container">
		<div class="text-center">
				<h2>Item list</h2>
		</div>

					<div class="card-columns">

						<%for(let i = 0; i < allItems.length; i++) {%>

							<div class="card">
								<img src="<%=allItems[i].imageUrl%>" class="img-fluid ml-0 mt-3 mr-3 p-3" />
								<div class="card-body">
								  <h5 class="card-title"><%=allItems[i].name%></h5>
								  <p class="card-text">$ <%=allItems[i].price%></p>
								
							

							<%if(!foundUser.admin){%>
									<a href="/users/items/<%=allItems[i]._id%>" class="btn btn-md btn-outline-secondary">View</a>
							<%}else{%>
									<a href="/admins/<%=allItems[i]._id%>" class="btn btn-md btn-outline-secondary">View</a>
							<%}%>

								</div>

							</div>

						<%}%>
				</div>
	</div>
</main>


<% include partials/_foot%>
