<% include ../partials/_head%>
<% include ../partials/_navbarAdmin%>

<main>
  <div class="container">
    <div class="text-center mt-4">
        <h1>Edit item</h1>
  </div>
  <div class="row mb-4">
    <div class="col-md-8 offset-2 mt-5">
      <form action="/admins/<%=item._id%>?_method=PUT" method="POST">
          <div class="form-group">
              <label class="mb-0" for="exName">Name</label>
              <input type="text" name="name" required class="form-control" id="exName" value="<%=item.name%>">
          </div>
          <div class="form-group">
              <label class="mb-0" for="exPrice">Price</label>
              <input type="number" name="price" required class="form-control" id="exPrice" value="<%=item.price%>">
          </div>
          <div class="form-group">
              <label class="mb-0" for="exCategory">Category</label>
              <select name="category" required class="form-control" id="exCategory" value="<%=item.category%>">
                <option value="Food">Food</option>
                <option value="Clothing">Clothing</option>
                <option value="Electroics">Electronics</option>
                <option value="Funiture">Funiture</option>
                <option value="Toy">Toy</option>
              </select>
          </div>
          <div class="form-group">
              <label class="mb-0" for="exlocation">Location</label>
              <input type="text" name="location" required class="form-control" id="exlocation" value="<%=item.location%>">
          </div>
          <div class="form-group">
              <label class="mb-0" for="exinStock">In stock</label>
              <!-- <input type="Number" name="delivery" required class="form-control" id="exinStock" placeholder="true"> -->
              <select name="inStock" required class="form-control" id="exinStock" value="<%=item.inStock%>">
                <option value="In Stock">In Stock</option>
                <option value="Coming Soon">Coming Soon</option>
              </select>
          </div>
          <div class="form-group">
              <label class="mb-0" for="exUrl">Url</label>
              <input type="url" name="imageUrl" required class="form-control" id="exUrl" value="<%=item.imageUrl%>">
          </div>
          <div class="form-group">
              <label class="mb-0" for="exDescription">Description</label>
              <textarea name="description" rows="8" cols="80" required class="form-control" id="exDescription" value="<%=item.description%>"></textarea>
          </div>
          <div class="text-center">
              <button type="submit" class="btn btn-primary">Edit</button>
          </div>
        </form>
    </div>
</main>

<% include ../partials/_foot%>
