<% include ../partials/_head%>
<% include ../partials/_navbarAdmin%>
  <body>
    <main>
      <h1><%= item.name %></h1>
      <%= item.imageUrl%><br/>
      Name : <%= item.name %><br/>
      Price : <%= item.price %><br/>
      <a href="/admins/<%=item._id%>/edit">Edit</a>
      <form action="/admins/<%=item._id%>?_method=DELETE" method="POST">
        <button type="submit" name="button">Delete</button>
      </form>
    </main>
  </body>
<% include ../partials/_foot%>
