<% include ../partials/_head%>
<% include ../partials/_navbarAdmin%>

<main>
  <h1 class="text-center mt-2 mb-4 pt-2 pb-4"><%= item.name %></h1>
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-3 offset-2">
          <img src="<%= item.imageUrl%>" height="150" width="150" class="rounded" alt="..."><br/>
      </div>
      <div class="col-3 offset-1">
          <p class="h3">Name : <%= item.name %></p>
          <p class="h3">Price : $ <%= item.price %></p>
          <p class="h3">Category: <%= item.category %></p>
          <p class="h3">Location: <%= item.location %></p>
          <p class="h3">In Stock: <%= item.inStock %></p>
      </div>
    </div>
  </div>

  <div class="container mt-5 pt-5">
    <div class="col-10 offset-1 pb-4">
        Discription:
      </div>
      <div class="col-10 offset-1 border">
        <div class="pt-5 pb-5 pl-3 pr-3">
          <%= item.discription %>
        </div>
      </div>
  </div>

  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-1 offset-5">
        <a href="/admins/<%=item._id%>/edit">Edit</a>
      </div>
      <div class="col-1">
        <form action="/admins/<%=item._id%>?_method=DELETE" method="POST">
          <button type="submit" name="button">Delete</button>
        </form>
      </div>
    </div>
  </div>
</main>

<% include ../partials/_foot%>
