<% include ../partials/_head%>
<% include ../partials/_navbarUser%>

<main>
  <h1 class="text-center mt-2 mb-4 pt-2 pb-4">Item details</h1>

  <hr class="col-9">

  <div class="container mt-3 pt-5">
    <div class="row">
      <div class="col-4 offset-1 pt-5 border">
          <img src="<%=showItem.imageUrl%>" class="img-thumbnail"><br/>
      </div>
      <div class="info col-5 ml-5 px-5 py-5">
        <div class="row">
          <div class="col-4">
            <p class="infoList">Name:</p>
            <p class="infoList">Price:</p>
            <p class="infoList">Category:</p>
            <p class="infoList">Location:</p>
            <p class="infoList">In Stock:</p>
          </div>
          <div class="col-8">
            <p class="infoData"><%= showItem.name %></p>
            <p class="infoData">$<%=showItem.price %></p>
            <p class="infoData"><%= showItem.category %></p>
            <p class="infoData"><%= showItem.location %></p>
            <p class="infoData"><%= showItem.inStock %></p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container mt-5 pt-5">
    <div class="col-10 offset-1 pb-1 h5">
        Description:
      </div>
      <div class="col-10 offset-1 border">
        <div class="pt-5 pb-5 pl-3 pr-3">
          <%= showItem.description %>
        </div>
      </div>
  </div>

  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-1 offset-5">
        <a href="/users/buy/<%=showItem._id%>" class="btn btn-lg btn-outline-secondary">Buy</a>
      </div>
    </div>
  </div>
</main>

<% include ../partials/_foot%>
