<% include ../partials/_head%>
<% include ../partials/_navbarUser%>

<div class="container text-center">
	<h2> Order History </h2>	
</div>

<%for(let i=0; i<currentUser.itemsBought.length; i++) {%>
	<!-- <div class = "col-12 card m-5 border-primary">
		<div class="col-4">
			<img src="<%=currentUser.itemsBought[i].imageUrl%>" class ="card-img-top">
		</div>
		<div class="col-6 card-body text-center">
			<h3 class="card-title"> Name: <%=currentUser.itemsBought[i].name%></h3>
			<h3 class="card-text"> Price: $<%=currentUser.itemsBought[i].price%></h3>
		</div>
	</div> -->


	<div class="container mt-5 pt-5">
    <div class="row border border-primary mt-1 pt-3">
      <div class="col-4 offset-1 pt-5 mb-3">
          <img src="<%=currentUser.itemsBought[i].imageUrl%>" height="250" width="250" class ="rounded">
      </div>
      <div class="info col-5 offset-1 mr-3 mb-3">
      		<p class=""><span class="infoList">Name:     </span><%= currentUser.itemsBought[i].name %></p>
            <p class=""><span class="infoList">Price:   </span>$ <%= currentUser.itemsBought[i].price %></p>
      </div>
    </div>
  </div>


<%}%>

<% include ../partials/_foot%>
