<% include ../partials/_head%>
<% include ../partials/_navbarUser%>

<div class="container text-center">
	<h2> Order History </h2>
</div>

<%for(let i=0; i<currentUser.itemsBought.length; i++) {%>
	<!-- <div class = "col-12 card m-5 border-primary">
		<div class="col-4">
			<img src="<%=currentUser.itemsBought[i].imageUrl%>" class ="card-img-top">
		</div>
		<div class="col-6 card-body text-center">
			<h3 class="card-title"> Name: <%=currentUser.itemsBought[i].name%></h3>
			<h3 class="card-text"> Price: $<%=currentUser.itemsBought[i].price%></h3>
		</div>
	</div> -->


	<div class="container mt-5 pt-5">
    <div class="row border border-secondary mt-1 pt-3">
      <div class="col-4 pt-2 mb-5 offset-1 mr-3">
          <img src="<%=currentUser.itemsBought[i].imageUrl%>" height="300" width="300" class ="rounded">
      </div>
      <div class="info col-5 offset-1 mr-3 mb-3">
            <div class="row">
	          <div class="col-4">
	            <p class="infoList">Name:</p>
	            <p class="infoList">Price:</p>
	            <p class="infoList">Category:</p>
	            <p class="infoList">Location:</p>
	            <p class="infoList">Description:</p>
	          </div>
	          <div class="col-8">
	            <p class="infoData"><%= currentUser.itemsBought[i].name %></p>
	            <p class="infoData">$<%=currentUser.itemsBought[i].price  %></p>
	            <p class="infoData"><%= currentUser.itemsBought[i].category %></p>
	            <p class="infoData"><%= currentUser.itemsBought[i].location %></p>
	            <p class="infoData"><%= currentUser.itemsBought[i].description %></p>
	          </div>
        	</div>
      </div>
    </div>
  </div>
<%}%>

<% include ../partials/_foot%>
